main {
    padding: 20px;
}

.course {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    
}

.course h2 {
    margin-top: 0;
}

.buttons {
    margin-top: 10px;
}

.buttons a {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
}

.buttons a:hover {
    background-color: #555;
}

.body{
    background-color:rgb(100, 158, 89);
    
}


