/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    
}

.header {
    background-color: #fcedaaf5;
    color: #fa0404;
    
    
    
}

.header h1 {
  
  text-align: center;
  margin: 0;
  margin-top: -5%;
  padding-bottom: 20px;
  
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}


nav{
    width: 100%;
}

#navbarToggleExternalContent{
    width: 100%;
    
}

li{
    color: #fff;
    text-decoration: none;
}

.content {
    padding: 50px;
    
    
}

.marquee{
  
  background-color: rgba(215, 252, 4, 0.973);
  
}

.pm{
  
  padding-top: 15px;
}

.mpa {
  text-decoration: none;
  font-size:large;
  color: rgb(255, 0, 0);
}

.footer {
    background-color: #0c0c0c;
    color: #fff;
    padding: 20px 0;
    margin-top: 10%;
    bottom: 0;
    width: 100%;
  }

  .footer p {
    margin-bottom: 0;
  }

  .footer ul {
    list-style-type: none;
    padding-left: 0;
  }

  .footer ul li {
    margin-bottom: 10px;
  }

  .social-icons {
    margin-top: 20px;
  }

  .social-icons a {
    color: #fff;
    margin-right: 10px;
  }

  .card{
    margin-top: 3%;
    
    
  }

  .wh{
    
    color: rgb(255, 0, 200);
    background-color: rgb(131, 253, 196);
    margin-top: 1%;
    height: 15rem;
  }
h1{
    text-align: center;
    padding-top: 7%;
}

#f2{
    margin-top: 4%;
}

#item-1{
  background-color: burlywood;
}

#item-1-1{
  background-color: cadetblue;
}

#item-1-2{
  background-color: rgb(165, 252, 93);
}

#item-2{
  background-color: rgb(255, 5, 213);
}

#item-2-1{
  background-color: rgb(191, 244, 253);
}

#item-2-2{
  background-color: rgb(253, 215, 212);
}

#item-3{
  background-color: rgb(248, 182, 2);
}

#item-3-1{
  background-color: rgb(253, 119, 153);
}

#item-3-2{
  background-color: cadetblue;
}

#item-4{
  background-color: rgb(252, 214, 2);
}

#item-4-1{
  background-color: rgb(248, 162, 3);
}

#item-4-2{
  background-color: rgb(250, 102, 171);
}




